<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    {% if page.show_nav == true %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% endif %}
    <a class="navbar-brand" href="#">Cocktail Standards</a>
  </div>
  
  {% if page.show_nav == true %}
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#americas">Americas</a></li>
      <li><a href="#oceania">Oceania</a></li>
      <li><a href="#europe">Europe</a></li>
      <li><a href="#asia">Asia</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="README.html">submissions</a></li>
      <li><a href="https://twitter.com/cocktail_sdo"><img src="https://g.twimg.com/Twitter_logo_blue.png" width="22" height="16" /></a></li>
    </ul>
  </div>
  {% endif %}
</nav>
