<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      *:not([href])[id]:before  { 
        display: block; 
        content: " "; 
        margin-top: -65px; 
        height: 65px; 
        visibility: hidden; 
      }
      .twtr-icon {
        fill: #00aced;
      }
    </style>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cocktail Standards">
    <meta property="og:description" content="Best Current Practice for drinking, worldwide">
    <meta property="og:url" content="https://cocktailstandards.github.io/">
    <meta property="og:site_name" content="Cocktail Standards">
    <meta property="og:image" content="https://cocktailstandards.github.io/cs.png">
  </head>
  <body>
    
    {% include navbar.html %}
    
      <div class="container">
        <div class="page-header">  
                  <p><strong>Best Current Practice for drinking, worldwide.</strong></p>
              </div>

      {{ content }}

    </div>

    {% include footer.html %}

    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
</html>